:root {
  --bg-color: black;
  --text-color: white;
}

.light-theme {
  --bg-color: white;
  --text-color: black;
}

*::selection {
  color: orangered;
  background-color: yellowgreen;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(70, 69, 69);
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: var(--bg-color);
}

h1 {
  margin: 15px;
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  color: var(--text-color);
}

h2 {
  margin: 10px;
  font-size: 2rem;
  color: var(--text-color);
}

h3 {
  color: var(--text-color);
  font-size: 1.5rem;
}

p {
  margin: 0 20px;
  font-size: 2rem;
  color: var(--text-color);
  font-family: 'Indie Flower', cursive;
}

img {
  width: 75%;
}

button {
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 20%;
  color: var(--text-color);
  font-size: 1.5rem;
  margin: 2% 7%;
  padding: 10px 20px;
}

#theme {
  position: absolute;
  right: 10px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  padding: 15px;
}

.far {
  font-size: 25px;
}

#score {
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  position: absolute;
  right: 10px;
  top: 130px;
  width: 200px;
  height: 150px;
  padding: 5px;
  overflow-y: scroll;
}

footer {
  color: var(--text-color);
  margin-top: 5%;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 3rem;
  }

  button {
    border-radius: 20px;
    font-size: 1.5rem;
  }

  #score {
    position: static;
    margin: 10px auto;
  }

  .info {
    display: none;
  }
}